<div class="card">
  <p-toast></p-toast>

  <p-table #dt [value]="productos" [rows]="10" [paginator]="true"
    [globalFilterFields]="['producto_nombre','producto_descripcion']" [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
    styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" [(selection)]="selectedProductos"
    [rowHover]="true" dataKey="producto_id" [loading]="loading" selectionMode="single">
    <ng-template pTemplate="caption">
      <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
        <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between py-2">

          <div>
            <button pButton pRipple label="Agregar Nuevo" icon="pi pi-plus"
              class="p-button-outlined p-button-primary mr-2" (click)="openNew()"></button>

          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 6rem">ACCIONES</th>
        <th style="min-width: 2rem">N°</th>
        <th style="min-width: 15rem">CATEGORIA</th>
        <th style="min-width: 15rem">PRODUCTO</th>
        <th style="min-width: 20rem">DESCRIPCIÓN</th>
        <th style="min-width: 6rem">PRECIO</th>
        <th style="min-width: 6rem">STOCK</th>
        <th style="min-width: 10rem">ESTADO</th>
        <th style="min-width: 10rem">AGREGAR CARRITO</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
      <tr>
        <td>
          <p-button icon="pi pi-pencil" severity="info" [outlined]="true" pTooltip="Editar" tooltipPosition="top"
            [rounded]="true" size="large" styleClass="border-2 mr-1" (click)="editProducto(row)"></p-button>

          <p-button icon="pi pi-trash" severity="danger" [outlined]="true" pTooltip="Eliminar" tooltipPosition="top"
            [rounded]="true" size="large" styleClass="border-2 mr-1" (click)="deleteProducto(row)"></p-button>

          
        </td>
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ row.categoria_categoria_id}}</td>
        <td>{{ row.producto_nombre | uppercase }}</td>
        <td>{{ row.producto_descripcion | uppercase }}</td>
        <td>{{ row.producto_precio.toFixed(2) }}</td>
        <td>{{ row.producto_stock }}</td>
        <td>
          <p-chip [label]="row.producto_estado === 1 ? 'Activo' : 'Inactivo'"
            [styleClass]="getChip(row.producto_estado)">
          </p-chip>
        </td>
        <td>
          <div class="flex justify-center font-bold">
            <p-button icon="pi pi-shopping-cart" [outlined]="true" pTooltip="Agregar" tooltipPosition="top"
            [rounded]="true" size="large"  styleClass="border-2 mr-1" (click)="agregarAlCarrito(row)"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center">No se encontraron registros para mostrar</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="productoDialog" [style]="{ width: '550px' , 'margin': '15px' }"
  [header]="producto.producto_id ? 'Editar Producto' : 'Nuevo Producto'" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-fluid grid formgrid">

      <div class="field">
        <label for="categoria_nombre">Nombre del Producto <span style="color: red">*</span></label>
        <input id="categoria_nombre" type="text" class="w-full" pInputText [(ngModel)]="producto.producto_nombre"
          [invalid]="!producto.producto_nombre" required autofocus />

        @if (!producto.producto_nombre) {
        <p-message severity="error" variant="simple" size="small">El Nombre es requerido.</p-message>
        }
      </div>
      <div class="field">
        <label for="categoria_descripcion">Descripción <span style="color: red">*</span></label>
        <input id="categoria_descripcion" type="text" class="w-full" pInputText
          [(ngModel)]="producto.producto_descripcion" required />
        @if (!producto.producto_descripcion) {
        <p-message severity="error" variant="simple" size="small">La Descripción es requerida.</p-message>
        }
      </div>
      <div class="field">
        <label for="categoria_precio">Precio <span style="color: red">*</span></label>
        <input id="categoria_precio" type="number" class="w-full" pInputText [(ngModel)]="producto.producto_precio"
          required min="0" step="0.01" />
        @if (producto.producto_precio == null || producto.producto_precio < 0) {
        <p-message severity="error" variant="simple" size="small">El Precio es requerido y debe ser mayor o igual a 0.</p-message>
        }
      </div>
      <div class="field">
        <label for="categoria_stock">Stock <span style="color: red">*</span></label>
        <input id="categoria_stock" type="number" class="w-full" pInputText [(ngModel)]="producto.producto_stock"
          required min="0" step="1" />
        @if (producto.producto_stock == null || producto.producto_stock < 0) {
        <p-message severity="error" variant="simple" size="small">El Stock es requerido y debe ser mayor o igual a 0.</p-message>
        }
      </div>
      <div class="field">
        <label for="categoria_descripcion">Color </label>
        <textarea id="categoria_descripcion_adicional" rows="3" class="w-full" pInputTextarea
          [(ngModel)]="producto.producto_color"></textarea>
      </div>
      <div class="field">
        <label for="categoria_categoria">Categoría <span style="color: red">*</span></label>
        <p-select id="categoria_categoria" [options]="categorias" optionLabel="categoria_nombre"
          optionValue="categoria_id" class="w-full" appendTo="body" [(ngModel)]="producto.categoria_categoria_id"
          placeholder="Seleccione la categoría">
        </p-select>
        @if (!producto.categoria_categoria_id) {
        <p-message severity="error" variant="simple" size="small">La Categoría es requerida.</p-message>
        }
      </div>
      <div class="field">
        <label for="categoria_estado">Estado </label>
        <p-select id="categoria_estado" [options]="estados" optionLabel="label" optionValue="value" class="w-full"
          appendTo="body" [(ngModel)]="producto.producto_estado" placeholder="Seleccione el estado">
        </p-select>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveProducto()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>